---
import { Image } from "astro:assets";
import Hero from "./hero.astro";
import HowItWorks from "./howItWorks.astro";
import realTime from "../assets/real_time.png";
import safe from "../assets/safe.png";
import dating from "../assets/more_than_dating.png";
import matching from "../assets/matching_simple.png";
// import carousel from "../assets/desktop-carousel.png";
---

<main class="text-[#4D4D4D] mb-36 flex flex-col items-center">
  <Hero />
  <!-- Features -->
  <HowItWorks />
  <section
    class="md:bg-none mt-12 flex flex-col md:flex-row mx-6 sm:mx-12 lg:mx-24 max-w-7xl md:gap-6 md:my-28"
  >
    <div class="rounded-3xl px-1.5 pt-4.5 bg-[#F9F6FF] md:py-8 pb-21.5 md:px-6">
      <Image src={realTime} alt="Some users' profile" class="w-full" />
      <h3 class="mb-3 mt-6">Real-time, real people</h3>
      <p>
        Meet people who are actually nearby and ready to hang out. Whether it’s
        coffee, a walk, or a spontaneous plan—Boomger makes it easy.
      </p>
    </div>

    <div
      class="bg-[#E8E8E8] py-8 px-6 rounded-3xl relative bottom-9 md:bottom-0"
    >
      <Image src={dating} alt="A screenshot of boomger app" class="w-full" />
      <h3 class="mb-3 mt-6">More than dating</h3>
      <p>
        Boomger isn’t just about dating—it’s about belonging. Join groups based
        on your interests, city, or lifestyle and meet people naturally.
      </p>
    </div>
  </section>

  <!-- Trust/Safety -->
  <section
    class="bg-[url(/bg-safe.png)] px-4 rounded-3xl mx-6 sm:mx-12 lg:mx-24 max-w-7xl"
  >
    <div
      class="text-[#E6E6E6] rounded-3xl px-6 pt-9 pb-11 grid md:grid-cols-2 gap-10 items-center"
    >
      <div>
        <h2 class="text-2xl font-semibold mb-4 text-white">
          Safe, Respectful, and You-First
        </h2>
        <p>Your safety and comfort come first.</p>
        <ul class="space-y-2 my-6">
          <li>• Verified profiles</li>
          <li>• Control who sees you</li>
          <li>• Privacy-first design</li>
        </ul>
        <p>Because feeling safe is attractive.</p>
      </div>
      <Image src={safe} alt="An illustration of Boomger's security features" />
    </div>
  </section>

  <!-- CTA -->
  <section
    class="text-center py-20 w-screen overflow-x-hidden flex flex-col items-center"
  >
    <h3 class="mb-2 px-6 max-w-200 lg:mb-0 leading-12">
      Ready to Meet Someone Who Gets You?
    </h3>
    <p class="text-[#4D4D4D] mb-4 lg:mb-8 px-4">
      Stop swiping. Start connecting.
    </p>
    <p class="text-[#524A5F] font-semibold italic">
      Download the app and start something real.
    </p>
    <img
      src="/desktop-carousel.png"
      alt="Some users"
      class="h-24 mt-6 lg:mt-0 min-w-[120%] lg:w-full lg:h-56 lg:min-w-0 block lg:mx-24 max-w-7xl"
    />
    <!-- <div class="flex gap-3 w-screen overflow-x-hidden relative">
      <div class="flex-1 aspect-3/4 overflow-hidden">
        <Image src={car1} alt="" class="w-full object-fill" />
      </div>
      <div class="flex-1 aspect-3/4 overflow-hidden">
        <Image src={car2} alt="" class="w-full object-fill" />
      </div>
      <div class="flex-1 aspect-3/4 overflow-hidden">
        <Image src={car3} alt="" class="w-full object-fill" />
      </div>
      <div class="flex-1 aspect-3/4 overflow-hidden">
        <Image src={car4} alt="" class="w-full object-fill" />
      </div>
      <div class="flex-1 aspect-3/4 overflow-hidden">
        <Image src={car5} alt="" class="w-full object-fill" />
      </div>
      <div class="flex-1 aspect-3/4 overflow-hidden">
        <Image src={car6} alt="" class="w-full object-fill" />
      </div>
      <div class="flex-1 aspect-3/4 overflow-hidden hidden lg:block">
        <Image src={car7} alt="" class="w-full object-fill" />
      </div>
    </div> -->
    <a
      href="#"
      class="bg-black text-[#F8FAFC] px-6 py-4 rounded-full font-semibold flex items-center gap-1.5 w-fit mx-auto mt-5 lg:mt-0"
    >
      Start Something Real <svg
        fill="#F8FAFC"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
        ></path></svg
      >
    </a>
  </section>
  <div
    class="bg-[url(/simple-matching-bg.png)] bg-cover bg-center px-4 md:px-14 md:pb-0 md:pt-9 py-8.5 flex flex-col md:flex-row text-[#E6E6E6] md:w-[-webkit-fill-available] gap-8.5 mx-6 sm:mx-12 lg:mx-24 max-w-7xl"
  >
    <Image
      src={matching}
      alt="A girl operating her phone"
      class="rounded-3xl md:rounded-b-none md:w-1/2"
    />
    <div class="md:self-center">
      <h4 class="font-semibold text-2xl text-white">We Make Matching Simple</h4>
      <p class="my-6">
        Tell us what you’re looking for. We’ll handle the rest.
      </p>
      <ul class="space-y-2">
        <li>• Smart preferences</li>
        <li>• Custom discovery filters</li>
        <li>• Intentional matching</li>
        <li>• No pressure, no awkwardness</li>
      </ul>
    </div>
  </div>
</main>
