---
import "../styles/global.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
const {   title,
  description,
  slug,
  type = "website",
  noindex = false, } = Astro.props;

const url = "https://boomger.onrender.com/";
const image = `https://boomger.onrender.com/og/${slug}.png`; // add later
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FavIcon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- SEO Core -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={`url${slug}`} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={`url${slug}`} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <!-- Performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body class="overflow-x-hidden flex flex-col items-center scroll-smooth">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<!-- Inline Astro component -->
<!-- <astro:component name="Feature" props={{ title: "", desc: "" }}>
  <div class="bg-zinc-50 p-8 rounded-3xl border">
    <h3 class="text-xl font-semibold mb-2">{title}</h3>
    <p class="text-zinc-600">{desc}</p>
  </div>
</astro:component> -->
